.banner-section{
    color:white;
    margin: 0px ;
    padding: 0px;
    border-radius: 0%;
}
.banner-img{
    max-height: 100vh;
  
}
.tagline{
    font-family: var(--heading-font);
   
}
.sub-tagline{
    font-family: var(--subheading-font);
   
}

/* @media screen and (max-width: 576px){
   .tagline{
      font-size: 20px;
   }
   .sub-tagline{ 
       font-family: 15px;
   }
}

@media screen and  (max-width: 768px) {
   .tagline{
      font-size: 15px;
   }
   .sub-tagline{ 
       font-family: 0px;
   }
}
 */
